section {
  max-width: 95%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;

  div {
    display: flex;
    max-width: 100%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div{
      display: flex;
      flex-direction: row;
      align-self: flex-end;
      button {
        margin: 10px;
        align-self: flex-end;
      }
    }

    h2 {
      text-align: start;
      width: 100%;
    }


    td input{
      width: 60%;
      height: 100%;
      border: none;
      padding: 10px;
      text-align: center;
    }

    th{
      text-align: center;
    }

    td{
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }
}

