section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    // padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: white;
        font-weight: 700;
        padding: 20px;
    }

    main {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            cursor: pointer;
            flex: 1;
            max-width: 100px;
            min-width: 300px;
            margin: 10px;
            padding: 20px;
            background-color: #f4f4f4;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            h3 {
                text-transform: uppercase;
                font-weight: 600;
                text-align: center;
                font-size: 1.5em;
                color: #555;
                margin: 0;
            }
        }
    }
}
