.return{
  margin: 10px 0 0 10px;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: auto;
  padding-top: 100px;
  mat-form-field{
    align-self: flex-start;
  }
  table {
      width: 100%;
  }

  .container_date {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      width: 100%;
      mat-form-field{
          width: 100%;
      }
  }
}
